/persist/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# venv
/denv/